.dart_tool/
.idea/
build/
doc/api/
*.env
# pubspec.lock  # Except for application packages
# API documentation directory created by dartdoc
# files and directories created by other development environments
*.iml         # IntelliJ
*.ipr         # IntelliJ
*.iws         # IntelliJ
.DS_Store     # Mac